@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.visually-hidden {
  display: none;
}

/* Header */

.main-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.navigation-list a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  text-align: center;
}

/* Main Welcome, Advantages */

.hero {
  background-color: #82B3D3;
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 1440px 485px;
}

.advantages-list {
  list-style: none;
  text-align: center;
}


.advantages-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sedona-town div,
.devil-bridge div {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.sedona-town p,
.devil-bridge p {
  color: #FFFFFF;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.more-advantages-list {
  list-style: none;
  text-align: center;
}

.more-advantages-item:first-child,
.more-advantages-item:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.more-advantages-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.more-advantages-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Hotel, Subscription */

.find-hotel .button-hotel-search {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}


.subscription {
  background-image: url("../images/index/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
}

.subscription .title,
.subscription .text {
  color: #FFFFFF;
}



/* Footer */

.footer-socials {
  list-style: none;
  display: flex;
}


.phone-number {
  text-decoration: none;
  color: #000000;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Catalog */

.main-inner {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.filter {
  background-color: #82B3D3;
  color: #FFFFFF;
  background-image: url("../images/catalog/filter-background.png");
  background-repeat: no-repeat;
  background-size: 1440px 600px;
}

.filter h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.bread-crumbs {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/* Legends and Fieldsets */

.filter-checkbox-title,
.filter-radio-title,
.filter-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Checkbox and radio */

.filter-checkbox,
.filter-radio,
.filter-price {
  border: none;
}

.checkbox-list,
.radio-list {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* Catalog Navigation */

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.catalog-sorting-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.view-plates-list {
  list-style: none;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* Pagination */

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

/* Inner Subscription */

.inner-subscription .subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  background: #82B3D3;
  color: #FFFFFF;
}

/* Buttons */

.button {
  color: #FFFFFF;
  background: #756157;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  padding: 8px;
}

.button-submit {
  background: #82B3D3;
  border-style: none;
}

.button-reset {
  background: none;
  border: none;
}

/* Catalog Buttons */

.catalog-list .button {
  color: #FFFFFF;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-details {
  background-color: #756157;
}

.button-favorite {
  background-color: #82B3D3;
}

.button-rating {
  font-weight: 400;
  color: #333333;
  background: #F2F2F2;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
}
